* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'windows95';
    src: url(../fonts/W95FA.otf);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'windows95';
    user-select: none;
    overflow: hidden;
}

.desktop {
    flex-grow: 1;
    background-color: #008080;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(20, 1fr);
    grid-auto-flow: column;
    padding: 10px;
}

.prog {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 71px;
    align-items: center;
    justify-content: space-around;
}

.prog > img {
    width: 50px;
    cursor: pointer;
}


.prog > p {
    font-size: 14px;
    text-align: center;
    cursor: text;
}

.work-panel {
    background-color: grey;
    width: 100vw;
    height: 50px;
    background-image: url(../img/workpanel.svg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.start {
    background-image: url(../img/start.svg);
    width: 100px;
    height: 40px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.start > p {
    font-weight: 800;
    margin-left: 8px;
    font-size: 23px;
}

.start > img {
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

.time {
    background-image: url(../img/timeBG.svg);
    width: 130px;
    height: 40px;
    margin-right: 5px;
    
}

.time > p {
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 100;
}

.window {
    position: absolute;
    width: 700px;
    height: 500px;
    background-image: url(../img/windowBG.svg);
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window-header {
    background-color: #808080;
    width: 100%;
    height: 30px;
    display: flex;
    padding: 3px;
    justify-content: space-between;
}

.window-title {
    display: flex;
    align-items: center;
}

.window-title > img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.window-title > p {
    font-weight: 800;
    color: #B1B0B5;
    font-size: 15px;
}

.btn {
    width: 25px;
    cursor: pointer;
}

.content {
    background-image: url(../img/windowInner.svg);
    background-size: cover;
    width: 684px;
    height: 420px;
    padding: 5px;
}

.edit {
    display: flex;
}

.opt {
    margin-right: 10px;
    cursor: pointer;
}

.opt > span {
    text-decoration: underline;
}

textarea {
    resize: none;
    border: none;
    outline:0px none transparent;
    background-color: transparent;
    font-size: 20px;
    font-family: 'windows95';
    width: 100%;
}